
body{
    background-color: #eee;
    font-family: sans-serif;
}

canvas{
    border: 3px solid;
    border-color: #050;
    display: block;
    margin: auto;
    width: 80%;

}

table{
    border: 3px solid;
    margin-left: auto;
    margin-right:auto;
    width: 80%;
}

th, td{
    border: 1px solid;
}

a.button{
    background-color: black;
    border-radius: 10px;
    color: white;
    display: block;
    padding: 10px 20px;
    size: 0.5vw;
    text-align: center;
    text-decoration: none;
}

a.button:hover{
    background-color: #048
}

h1.title{
    text-align: center;
}

p.summary{
    margin: auto;
    width: 80%;
}

p.title{
    text-align: center;
}